.button {
  color: $white;
  font-size: 14px;
  padding: 0 $gutter*2;
  line-height: 35px;
  background: $primary;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: $gutter;
  margin: $gutter*2 0;

  &:hover {
    color: $white;
    background-color: darken($primary, 10);
  }

  &--big {
    font-size: 16px;
    padding: $gutter/2 $gutter*4;
  }
}
