.side-box {
  position: fixed;
  top: 50%;
  left: -240px;
  z-index: 1000;
  transition: $transition;
  display: flex;

  &:hover {
    left: 0;
  }

  .fb-page {
    width: 240px;
  }

  &__fb-button {
    font-size: 40px;
    color: $white;
    cursor: pointer;
    background-color: #3b5998;
    padding: gutter(1) gutter(2);
    align-self: flex-start;
  }
}
