%absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%image {
  max-width: 100%;
  margin: 0;
}

%image-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

%clearList {
  list-style: none;
  padding: 0;
  margin: 0;
}
